
body {
    background-image: url(circuit.png)
}
.main
{
    margin-left: 20%;
    margin-right: 22%;
    color: #777777;
    background-color: #ffffff;
    height: 330px;
    margin-top: 50px;
    width: 58%
}

.footer{
    position: absolute;
    color: white;
    background-color: #666666;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    border-top: 6px #4aaaa5;
    border-top-style: ridge;
}
h1{
    float: left;
    padding-bottom: 14px;
    margin-left: 365px;  
    margin-top: -106px;
    width: 8.5%;
    background-color: #4aaaa5;
    color: white;
}
ul {
    list-style-type: none;
    margin-top: -10px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 2px gray;
    border-bottom-style: solid;
  }
  
  li {
    float: right;
    
  }
  
  li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 34px 36px;
    text-decoration: none;
    
  }
  li a:hover {
    background-color: #4aaaa5;
  }
img{
    margin-left: 2%;
}
h2{
    margin-left: 2%;
    border-bottom: 6px gray;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-right: 2%;
}
#paragraph-1{
position: relative;
top: -220px;
left: 235px;
width: 700px
}
#paragraph-2{
    position: relative;
    top: -215px;
    width: 700px;
    left: 235px;
}
#paragraph-3{
    position: relative;
    top: -220px;
    margin-left: 2%;
}
p{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#paragraph-1,
#paragraph-2,
#paragraph-3{
    width: 65%
}

@media screen and (max-width: 980px){
    #paragraph-1
    #paragraph-2,
    #paragraph-3{
        width: 70%;
    }
    .main{
        height: 470px;
        width:72%;
        margin-left: 2%

    }
    img{
        width: 100%
    }
    h1{
        width: 16%;
        margin-left: 2%
    }
    h2{
        width: 96%
    }
}
@media screen and (max-width: 768px){
    #paragraph-1
    #paragraph-2,
    #paragraph-3{
        width: 70%;
    }
    .main{
        width: 92%
    }
    img{
        width: 100%
    }
    h1{
        width: 20.5%

    }
    h2{
        width: 96%
    }
}
@media screen and (max-width: 640px){
    #paragraph-1,
    #paragraph-2,
    #paragraph-3{
        width: 70%;
        left: 10%;
        top: 50%
    }
    #bio-image{
     margin-left: 20%
    }
    .main{
        margin-left: 5%;
        width: 90%;
        height: 10%;
        margin-top: 2%
    }
    h1{
        width: 100%;
        margin-top: -25%;
        margin-left: 0%;
        text-align: center
    }
    h2{
        width: 96%
    }
    ul{
        margin-top: 10%;
    }
    li{
        margin-right: 10%
    }
}